# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=aqi
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# JWT Auth
SECRET_KEY=change_this_to_a_random_secret_key_at_least_32_chars
ALGORITHM=HS256
# 24 hours
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CPCB / data.gov.in
DATA_GOV_API_KEY=your_data_gov_api_key
DATA_GOV_RESOURCE_ID=3b01bcb8-0b14-4abf-b6f2-c1bfd384ba69

# App
APP_ENV=development
CORS_ORIGINS=http://localhost:8501,http://127.0.0.1:8501

WAQI_API_KEY=your_waqi_api_key
WAQI_STATION=india/indore/chhoti-gwaltoli
